In [1]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv("/Users/prabhnoorsingh/Downloads/US_Crime_Data.csv")
print(df.columns.to_list())

['Date', 'Title', 'Organization', 'City', 'State', 'URL', 'Keyword', 'Summary']

In [41]:
df.head()

,Date,Title,Organization,City,State,URL,Keyword,Summary
0,2/13/17 9:01,Pizza Hut driver who killed co-worker with sho...,LGBTQ Nation,Phoenix,AZ,http://www.lgbtqnation.com/2017/02/man-accused...,NaN,NaN
1,2/13/17 9:37,Residents of NJ township receiving KKK promoti...,New York Daily News,NaN,NaN,http://www.nydailynews.com/news/national/resid...,NaN,NaN
2,2/13/17 15:37,House OKs bill to expand Kentucky's hate crime...,FOX19,Cincinnati,OH,http://www.fox19.com/story/34494432/house-oks-...,NaN,NaN
3,2/13/17 16:56,"Amid Protests, 'Blue Lives Matter' Bill Passes...",89.3 WFPL,Louisville,KY,http://wfpl.org/amid-protests-blue-lives-matte...,NaN,NaN
4,2/13/17 18:37,Lafourche inmates charged with hate crimes in ...,Daily Comet,Thibodaux,LA,http://www.dailycomet.com/news/20170213/lafour...,NaN,NaN

In [42]:
df= df['Title']
df=df.dropna().reset_index(drop=True)

In [43]:
df.head()

0    Pizza Hut driver who killed co-worker with sho...
1    Residents of NJ township receiving KKK promoti...
2    House OKs bill to expand Kentucky's hate crime...
3    Amid Protests, 'Blue Lives Matter' Bill Passes...
4    Lafourche inmates charged with hate crimes in ...
Name: Title, dtype: object

In [44]:
df[0]

'Pizza Hut driver who killed co-worker with shotgun found mentally competent'